

@{
    ViewData["Title"] = "Le pizze";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    
}

<h1>@ViewData["Message"]</h1>
<main role="main" class="pb-3">
    <div class="background-img">

        <div class="w-75 m-auto bg-dark">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Descrizione</th>
                        <th scope="col">Foto</th>
                        <th scope="col">Prezzo</th>
                        <th scope="col">Azioni</th>
                    </tr>
                </thead>
                <tbody id="pizza">
                </tbody>
            </table>
            @section Scripts
            {
                <script>

                    
                    loadpizza()
                </script>
            }
        </div>
    </div>
</main>



